# Python
__pycache__/
*.py[cod]
*.sqlite3
*-shm
*-wal
backend/celerybeat-schedule
backend/celerybeat-schedule-shm
backend/celerybeat-schedule-wal
.venv/
backend/.env
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
